body {
    display:flex;
    justify-content:center;
    align-items:center;
}

.interface {
    width:600px;
    height:600px;
    border:3px solid black;
    margin:200px;
    border-radius:11px;
    padding:30px 35px;
    
}

.number-display {
    width:90%;
    height:60px;
    margin:0 auto;
    border: 3px solid black;
}

.numbers-clear {
    display:flex;
    flex-direction:column;
    width:80%;
    padding:15px 30px;
    margin-top: 30px;
}

.one-two-three, .four-five-six, .seven-eight-nine, .clear-equals {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:30px;
}


button {
    width:100px;
    height:100px;
}

.clear-equals {
    width:360px;
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.clear-equals > button {
    width:170px;
}

.four-five-six, .seven-eight-nine, .clear-equals {
    margin-top: 15px;
}
